<button type="button" (click)="addNewCategory()">Add new Category</button><br><br>
<form [formGroup]="form" (ngSubmit)="submitTemplate()">
  <div formArrayName="categories">
    <div *ngFor="let category of categories.controls; let i=index">
    <fieldset>
      <legend><h3>CATEGORY {{i+1}}: </h3></legend>
      <div [formGroupName]="i">
        <label>Category Name: </label>
        <input formControlName="category" /><span><button type="button" (click)="deleteCategory(i)">Delete Category</button></span>
        <div formArrayName="materials">
          <div *ngFor="let material of category.get('materials').controls; let j=index">
            <fieldset>
            <legend><h4>Material {{j+1}}</h4></legend>
            <div [formGroupName]="j">
              <label>Material Name:</label>
              <input formControlName="value" /><span><button type="button" (click)="deleteMaterial(category.controls.materials, j)">Delete Material</button></span>
            </div>
            </fieldset>
          </div>
          <button (click)="addNewMaterial(category.controls.materials)" type="button">Add new Material</button>
        </div>
      </div>
    </fieldset>
    </div>
  </div><br>
  <button type="submit">Send template</button>
</form>

<pre>{{form.value | json}}</pre>

<ul *ngFor="let material of materials$ | async">
  <li>{{ material.value}}</li>
</ul>
