<mat-tab-group>
  <mat-tab label="Login">
    <form [formGroup]="form" (ngSubmit)="logIn()" fxLayout="column">
      <mat-form-field>
        <input matInput type="email" placeholder="Email" formControlName="email" />
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Password" formControlName="password" />
      </mat-form-field>
      <mat-radio-group formControlName="job">
        <mat-radio-button value="distributor">
          Distributor
        </mat-radio-button>
        <mat-radio-button value="productor">
          Productor
        </mat-radio-button>
        <mat-radio-button value="laboratory">
          Laboratory
        </mat-radio-button>
      </mat-radio-group>
      <button mat-raised-button>Login</button>
    </form>
  </mat-tab>
  <mat-tab label="Signup">
    <form [formGroup]="form" (ngSubmit)="signUp()" fxLayout="column">
      <mat-form-field>
        <input matInput type="email" placeholder="Email" formControlName="email" />
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Password" formControlName="password" />
      </mat-form-field>
      <mat-radio-group formControlName="job">
        <mat-radio-button value="distributor">
          Distributor
        </mat-radio-button>
        <mat-radio-button value="productor">
          Productor
        </mat-radio-button>
        <mat-radio-button value="laboratory">
          Laboratory
        </mat-radio-button>
      </mat-radio-group>
      <button mat-raised-button>Signup</button>
    </form>
  </mat-tab>
</mat-tab-group>
