<div *ngIf="(user$ | async) as user" [ngSwitch]="user.job">

  <mat-nav-list *ngSwitchCase="'producer'">
      <button mat-raised-button color="primary" [routerLink]="['/movie/add']">Add new movie</button>
      <h2>Your movies :</h2>
      <mat-list-item *ngFor="let movie of movies$ | async">
         <a matLine [routerLink]="['/movie/', movie.id]">{{ movie.title }}</a>
      </mat-list-item>
  </mat-nav-list>

  <mat-nav-list *ngSwitchCase="'distributor'">
      <button mat-raised-button color="primary" [routerLink]="['/template']">Add new template</button>
      <h2>Your templates :</h2>
  </mat-nav-list>

</div>



